.inputPanelContainer {
  background: #3798D4;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.inputPanel {
  max-width: 640px;
  margin: 0 auto;
  padding: 14px 24px;
  display: flex;
}

.inputPanel input[type="text"] {
  flex-grow: 1;
  margin-right: .5em;
}
